<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
    </div>

    <div class="text-end">
      <a href="/restaurants/new"><button class="btn btn-primary">新增餐廳</button></a>
    </div>
  </nav>

  <div class="banner"></div>
</header>

//
<!-- search bar -->
<div class="container search-bar">
  <div class="row">
    <!-- 左側欄位 -->
    <div class="search-bar-outer col-md-6 d-flex justify-content-evenly">
      <!-- 左側 input group -->
      <div class="search-bar-inner">
        <form action="/search">
          <h4 class="mb-2">尋找餐廳：</h4>
          <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
              value="{{keyword}}" aria-describedby="search-button">
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button">搜尋<i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>

      <!-- 右側 dropdown -->
      <div class="dropdown d-flex align-items-end">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sort
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/?sortType=az">A > Z</a></li>
          <li><a class="dropdown-item" href="/?sortType=za">Z > A</a></li>
          {{!-- <li><a class="dropdown-item" href="#">類別</a></li>
          <li><a class="dropdown-item" href="#">地區</a></li> --}}
        </ul>
      </div>
    </div>
  </div>
</div>

{{!-- {{#if sortByAZ}}
  {{#each sortedRestaurants}}
    <!-- 這裡是你渲染每個餐廳的內容 -->
  {{/each}}
{{else}}
  {{#each restaurants}}
  <!-- 這裡是你渲染每個餐廳的內容 -->
  {{/each}}
{{/if}} --}}


<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{!-- helpers --}}
        {{#if sortByAZ}}
          {{#each sortedRestaurants}}
            <!-- 這裡是渲染每個餐廳的內容 -->
          {{/each}}
        {{else}}

          {{!--在你的路由中，你使用了 restaurants 這個名稱來傳遞資料給模板，但在模板中你卻使用了 restaurantsData 這個名稱來遍歷資料。這會導致在模板中無法正確訪問資料。 --}}
          {{#each restaurants}}
          
          {{!-- <a href="/restaurant/{{this.id}}" class="text-secondary"> --}}
            <div class="card mb-3">
              <img class="card-img-top" src="{{this.image}}" alt="梅子鰻蒲燒專賣店">
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>
          
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>
          
                <span class="badge rounded-pill bg-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
          
              </div>
              <div class="card-footer d-flex justify-content-end flex-wrap">
                <a href="/restaurants/{{this._id}}/edit"><button class="btn btn-link btn-sm">Edit</button></a>
                <a href="/restaurants/{{this._id}}"><button class="btn btn-link btn-sm">Details</button></a>
          
                <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST" onsubmit="return confirm('確定要刪除嗎？');">
                  {{!-- <input type="hidden" name="_method" value="DELETE"> --}}
                  <button type="submit" class="btn btn-danger btn-sm text-white">刪除</button>
                </form>
              </div>
            </div>
            {{/each}}
            
        {{/if}}     
      </div>
    </div>
  </div>
</div>